@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}

table, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 400px;
    text-align: center;
}

td {
    padding: 7px;
}

h1 {
    text-align: center;
}

caption {
    font-weight: bold;
    margin-bottom: 15px;
}